In [1]:
"""
This project is my third capstone. I intend to create a machine learning model that will predict the price of Amazon stock. 

Step 1. is data sourcing. I plan to download the majority of data through yahoo finance. I intend to download directly using API
functions whenever possible. The data I am looking to download is:
    All the information will be from November 1 2020 to May 30, 2023
    Amazon stock price *-
    Amazon Earnings Report
    Dow *-
    Nasdaq *-
    QQQ *-
    S&P 500 *-
    Google *-
    Apple *-
    Inflation rates *
    interest rates *
    price of oil*
    Buy/Sell ratings
    GDP Growth *
    Employment Data *
    Technical Data
        RSI(Relative Strength Index)
        Bollinger Bands
        MACD
    Social Media sentiment

Step 2. Will be to join all the data onto a dataframe and clean up the data.

Step 3 Do some initial analysis on the Data Frame

Step 4 Run the Data frame through many Machine learning algorithms

Step 5 Analysis on the ML algorithms and compare results.

Step 6 Discuss results and discuss next steps.
"""

'\nThis project is my third capstone. I intend to create a machine learning model that will predict the price of Amazon stock. \n\nStep 1. is data sourcing. I plan to download the majority of data through yahoo finance. I intend to download directly using API\nfunctions whenever possible. The data I am looking to download is:\n    All the information will be from November 1 2020 to May 30, 2023\n    Amazon stock price *-\n    Amazon Earnings Report\n    Dow *-\n    Nasdaq *-\n    QQQ *-\n    S&P 500 *-\n    Google *-\n    Apple *-\n    Inflation rates *\n    interest rates *\n    price of oil*\n    Buy/Sell ratings\n    GDP Growth *\n    Employment Data *\n    Technical Data\n        RSI(Relative Strength Index)\n        Bollinger Bands\n        MACD\n    Social Media sentiment\n\nStep 2. Will be to join all the data onto a dataframe and clean up the data.\n\nStep 3 Do some initial analysis on the Data Frame\n\nStep 4 Run the Data frame through many Machine learning algorithms\n\nStep 5 Analysis on the ML algorithms and compare results.\n\nStep 6 Discuss results and discuss next steps.\n'

In [2]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [3]:
import datetime
startdate = datetime.datetime(2020, 1, 1)
enddate = datetime.datetime(2023, 5, 30)

In [4]:
stocks = ['AMZN']
other_stocks = ['GOOGL', 'AAPL', 'QQQ', 'DIA', 'ONEQ', 'VOO']

In [5]:

df_amzn = yf.download(tickers = stocks, start = startdate, end = enddate, group_by = 'ticker',  )
df_amzn = df_amzn.add_prefix(stocks[0]+ ' ')
df_amzn.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,AMZN Open,AMZN High,AMZN Low,AMZN Close,AMZN Adj Close,AMZN Volume
0,2020-01-02,93.750000,94.900497,93.207497,94.900497,94.900497,80580000
1,2020-01-03,93.224998,94.309998,93.224998,93.748497,93.748497,75288000
2,2020-01-06,93.000000,95.184502,93.000000,95.143997,95.143997,81236000
3,2020-01-07,95.224998,95.694504,94.601997,95.343002,95.343002,80898000
4,2020-01-08,94.902000,95.550003,94.321999,94.598503,94.598503,70160000
...,...,...,...,...,...,...,...
852,2023-05-22,116.769997,116.769997,114.250000,115.010002,115.010002,70741100
853,2023-05-23,114.269997,117.139999,113.779999,114.989998,114.989998,67576300
854,2023-05-24,115.349998,117.339996,115.019997,116.750000,116.750000,63487900
855,2023-05-25,116.629997,116.870003,114.309998,115.000000,115.000000,66496700
856,2023-05-26,116.040001,121.500000,116.019997,120.110001,120.110001,96779900

In [6]:
stock = 'GOOGL'
df_google = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_google = df_google.add_prefix(stock + ' ')
df_google.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,GOOGL Open,GOOGL High,GOOGL Low,GOOGL Close,GOOGL Adj Close,GOOGL Volume
0,2020-01-02,67.420502,68.433998,67.324501,68.433998,68.433998,27278000
1,2020-01-03,67.400002,68.687500,67.365997,68.075996,68.075996,23408000
2,2020-01-06,67.581497,69.916000,67.550003,69.890503,69.890503,46768000
3,2020-01-07,70.023003,70.175003,69.578003,69.755501,69.755501,34330000
4,2020-01-08,69.740997,70.592499,69.631500,70.251999,70.251999,35314000
...,...,...,...,...,...,...,...
852,2023-05-22,122.940002,126.430000,122.739998,125.050003,125.050003,35253000
853,2023-05-23,124.160004,124.629997,122.209999,122.559998,122.559998,34046300
854,2023-05-24,121.120003,121.910004,119.860001,120.900002,120.900002,34182600
855,2023-05-25,124.519997,125.320000,121.959999,123.480003,123.480003,42317000
856,2023-05-26,123.169998,125.260002,122.449997,124.610001,124.610001,35635900

In [7]:
stock = 'AAPL'
df_apple = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_apple = df_apple.add_prefix(stock + ' ')
df_apple.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,AAPL Open,AAPL High,AAPL Low,AAPL Close,AAPL Adj Close,AAPL Volume
0,2020-01-02,74.059998,75.150002,73.797501,75.087502,73.347946,135480400
1,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.634834,146322800
2,2020-01-06,73.447502,74.989998,73.187500,74.949997,73.213631,118387200
3,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.869301,108872000
4,2020-01-08,74.290001,76.110001,74.290001,75.797501,74.041496,132079200
...,...,...,...,...,...,...,...
852,2023-05-22,173.979996,174.710007,173.449997,174.199997,174.199997,43570900
853,2023-05-23,173.130005,173.380005,171.279999,171.559998,171.559998,50747300
854,2023-05-24,171.089996,172.419998,170.520004,171.839996,171.839996,45143500
855,2023-05-25,172.410004,173.899994,171.690002,172.990005,172.990005,56058300
856,2023-05-26,173.320007,175.770004,173.110001,175.429993,175.429993,54835000

In [8]:
stock = 'QQQ'
df_qqq = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_qqq = df_qqq.add_prefix(stock + ' ')
df_qqq.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,QQQ Open,QQQ High,QQQ Low,QQQ Close,QQQ Adj Close,QQQ Volume
0,2020-01-02,214.399994,216.160004,213.979996,216.160004,211.722275,30969400
1,2020-01-03,213.300003,215.470001,213.279999,214.179993,209.782883,27518900
2,2020-01-06,212.500000,215.589996,212.240005,215.559998,211.134598,21655300
3,2020-01-07,215.639999,216.139999,214.850006,215.529999,211.105194,22139300
4,2020-01-08,215.500000,218.139999,215.160004,217.149994,212.691925,26397300
...,...,...,...,...,...,...,...
852,2023-05-22,336.250000,338.670013,336.239990,337.640015,337.177490,43015900
853,2023-05-23,335.890015,337.059998,333.000000,333.359985,332.903351,48216700
854,2023-05-24,331.369995,332.910004,329.559998,331.649994,331.195679,62891200
855,2023-05-25,339.140015,341.010010,336.670013,339.720001,339.254639,66862800
856,2023-05-26,340.760010,349.250000,340.660004,348.399994,347.922729,63007000

In [9]:
stock = 'DIA'
df_dia = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_dia = df_dia.add_prefix(stock + ' ')
df_dia.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,DIA Open,DIA High,DIA Low,DIA Close,DIA Adj Close,DIA Volume
0,2020-01-02,286.440002,288.630005,286.149994,288.619995,269.686523,3865500
1,2020-01-03,285.339996,287.109985,285.179993,286.320007,267.537354,3296700
2,2020-01-06,284.290009,287.029999,284.160004,286.980011,268.154053,1645100
3,2020-01-07,286.299988,286.790009,285.579987,285.739990,266.995514,1413000
4,2020-01-08,285.320007,288.670013,285.079987,287.399994,268.546631,3136700
...,...,...,...,...,...,...,...
852,2023-05-22,334.119995,335.149994,332.019989,332.899994,332.150696,2555100
853,2023-05-23,331.760010,333.100006,330.079987,330.609985,329.865845,2526200
854,2023-05-24,330.000000,330.239990,327.480011,328.010010,327.271729,2978300
855,2023-05-25,328.070007,328.730011,325.820007,327.750000,327.012299,3499900
856,2023-05-26,328.130005,331.619995,327.920013,330.839996,330.095337,3580000

In [10]:
stock = 'ONEQ'
df_oneq = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_oneq = df_oneq.add_prefix(stock + ' ')
df_oneq.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,ONEQ Open,ONEQ High,ONEQ Low,ONEQ Close,ONEQ Adj Close,ONEQ Volume
0,2020-01-02,35.226002,35.380001,35.040001,35.380001,34.403355,1003000
1,2020-01-03,35.097000,35.310001,35.049999,35.200001,34.228329,520000
2,2020-01-06,35.174000,35.311001,34.848999,35.310001,34.335297,411000
3,2020-01-07,35.310001,35.403000,35.205002,35.300999,34.326534,403000
4,2020-01-08,35.248001,35.740002,35.248001,35.500999,34.521011,431000
...,...,...,...,...,...,...,...
852,2023-05-22,49.730000,50.090000,49.730000,49.970001,49.886871,193000
853,2023-05-23,49.770000,49.910000,49.299999,49.340000,49.257919,189400
854,2023-05-24,48.980000,49.189999,48.759998,48.980000,48.898518,324000
855,2023-05-25,49.900002,50.020000,49.490002,49.840000,49.757088,286800
856,2023-05-26,50.049999,51.060001,50.009998,50.950001,50.865242,283600

In [11]:
stock = 'VOO'
df_voo = yf.download(tickers = stock, start = startdate, end = enddate, group_by = 'ticker',  )
df_voo = df_voo.add_prefix(stock + ' ')
df_voo.reset_index()

[*********************100%***********************]  1 of 1 completed

,Date,VOO Open,VOO High,VOO Low,VOO Close,VOO Adj Close,VOO Volume
0,2020-01-02,297.290009,298.450012,296.339996,298.420013,281.972473,3142400
1,2020-01-03,295.220001,297.359985,295.040009,296.239990,279.912598,3247900
2,2020-01-06,294.420013,297.420013,294.350006,297.350006,280.961456,2777100
3,2020-01-07,296.820007,297.269989,296.059998,296.529999,280.186646,2251800
4,2020-01-08,296.709991,299.309998,296.470001,298.059998,281.632263,3719500
...,...,...,...,...,...,...,...
852,2023-05-22,384.660004,386.230011,383.470001,384.779999,383.273560,2784000
853,2023-05-23,383.190002,384.109985,380.079987,380.480011,378.990417,2887300
854,2023-05-24,378.910004,379.250000,376.570007,377.630005,376.151550,3611600
855,2023-05-25,380.989990,382.279999,378.920013,380.920013,379.428680,3315900
856,2023-05-26,381.640015,386.570007,381.540009,385.869995,384.359283,3042800

In [12]:
df_frames = [df_google, df_apple, df_qqq, df_dia, df_oneq, df_voo, df_amzn]
df = pd.concat(df_frames, axis = 1)
df.reset_index()

,Date,GOOGL Open,GOOGL High,GOOGL Low,GOOGL Close,GOOGL Adj Close,GOOGL Volume,AAPL Open,AAPL High,AAPL Low,...,VOO Low,VOO Close,VOO Adj Close,VOO Volume,AMZN Open,AMZN High,AMZN Low,AMZN Close,AMZN Adj Close,AMZN Volume
0,2020-01-02,67.420502,68.433998,67.324501,68.433998,68.433998,27278000,74.059998,75.150002,73.797501,...,296.339996,298.420013,281.972473,3142400,93.750000,94.900497,93.207497,94.900497,94.900497,80580000
1,2020-01-03,67.400002,68.687500,67.365997,68.075996,68.075996,23408000,74.287498,75.144997,74.125000,...,295.040009,296.239990,279.912598,3247900,93.224998,94.309998,93.224998,93.748497,93.748497,75288000
2,2020-01-06,67.581497,69.916000,67.550003,69.890503,69.890503,46768000,73.447502,74.989998,73.187500,...,294.350006,297.350006,280.961456,2777100,93.000000,95.184502,93.000000,95.143997,95.143997,81236000
3,2020-01-07,70.023003,70.175003,69.578003,69.755501,69.755501,34330000,74.959999,75.224998,74.370003,...,296.059998,296.529999,280.186646,2251800,95.224998,95.694504,94.601997,95.343002,95.343002,80898000
4,2020-01-08,69.740997,70.592499,69.631500,70.251999,70.251999,35314000,74.290001,76.110001,74.290001,...,296.470001,298.059998,281.632263,3719500,94.902000,95.550003,94.321999,94.598503,94.598503,70160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,2023-05-22,122.940002,126.430000,122.739998,125.050003,125.050003,35253000,173.979996,174.710007,173.449997,...,383.470001,384.779999,383.273560,2784000,116.769997,116.769997,114.250000,115.010002,115.010002,70741100
853,2023-05-23,124.160004,124.629997,122.209999,122.559998,122.559998,34046300,173.130005,173.380005,171.279999,...,380.079987,380.480011,378.990417,2887300,114.269997,117.139999,113.779999,114.989998,114.989998,67576300
854,2023-05-24,121.120003,121.910004,119.860001,120.900002,120.900002,34182600,171.089996,172.419998,170.520004,...,376.570007,377.630005,376.151550,3611600,115.349998,117.339996,115.019997,116.750000,116.750000,63487900
855,2023-05-25,124.519997,125.320000,121.959999,123.480003,123.480003,42317000,172.410004,173.899994,171.690002,...,378.920013,380.920013,379.428680,3315900,116.629997,116.870003,114.309998,115.000000,115.000000,66496700
856,2023-05-26,123.169998,125.260002,122.449997,124.610001,124.610001,35635900,173.320007,175.770004,173.110001,...,381.540009,385.869995,384.359283,3042800,116.040001,121.500000,116.019997,120.110001,120.110001,96779900

In [13]:
import os

path = r'C:\\Capstone3\\'

In [14]:

listoffiles = ['IXIC', 'Daily Treasury Bill Rates Final', 'daily_treasure_real_long_rates_final', 'daily_treasury_curve_rate_final', 'Employment_Rate',
           'GDP', 'Par Yield Curve Rates Final', 'PET_PRI_SPT_S1_D']
dataframes_list = []
for i in range(len(listoffiles)):
    temp_df = pd.read_csv(path + listoffiles[i] + '.csv')
    dataframes_list.append(temp_df)

In [15]:
temp = dataframes_list
df1 = dataframes_list[0]
del temp[0]

In [16]:
for i in temp:
    df1 = df1.merge(i, on = 'Date', how = 'left')

In [17]:

df1['Date']=df1['Date'].astype('datetime64')

In [18]:
df_final = df1.merge(df, on = 'Date', how = 'left')

In [19]:
# Although this data is readily available, I wanted to create the bands to practice.
def bollinger_bands(stock_df):
    import numpy as np
    import pandas as pd
    import matplotlib as plt
    
    df = stock_df[['AMZN Adj Close']]
  
    
    # Create rolling average and standard deviation
    sma = df.rolling(window=20).mean().dropna()
    
    rstd = df.rolling(window=20).std().dropna()
    # Create upper band and lower bands
    upper_band = sma + 2*rstd
    lower_band = sma - 2*rstd

    #Create columns with upper and lower band data
    upper_band = upper_band.rename(columns = {'AMZN Adj Close': 'Upper BB'})
    lower_band = lower_band.rename(columns = {'AMZN Adj Close': 'Lower BB'})
    bb = df.join(sma, rsuffix = 'SMA')
    bb = bb.join(upper_band).join(lower_band)
    bb = bb.dropna()
         
    bb.columns = ['AMZN Adj Close', 'SMA', 'BB Upper Band', 'BB Lower Band']
    band_conditions = [
        (bb['SMA'] >= bb['BB Upper Band']),
        (bb['SMA'] < bb['BB Upper Band']) & (bb['SMA']> bb['BB Lower Band']),
        (bb['SMA'] <= bb['BB Lower Band'])
    ]
    band_categories = ['Overbought', 'In Range', 'Oversold']
    bb['Bollinger_Status'] = np.select(band_conditions, band_categories)
    bb = bb.drop(['AMZN Adj Close'], axis = 1)
    return bb
    
 
bollinger_data = bollinger_bands(df_amzn)

In [20]:
df = df_final.merge(bollinger_data, on = 'Date', how = 'left')

In [21]:
def MACD(stock_df):
    import numpy as np
    k = stock_df['AMZN Adj Close'].ewm(span = 12, adjust = False, min_periods=12).mean()
    d = stock_df['AMZN Adj Close'].ewm(span=26, adjust = False, min_periods = 26).mean()
    macd = k-d
    macd_trigger =  macd.ewm(span = 9, adjust = False, min_periods = 9).mean()
    macd_c_d = macd - macd_trigger
    df_macd = pd.concat([macd, macd_trigger, macd_c_d], axis = 1)
    df_macd.columns =  ['MACD', 'MACD_Trigger', 'MACD_Con/Div']
    
    macd_conditions = [
        (df_macd['MACD_Con/Div'] > 0),
        (df_macd['MACD_Con/Div'] < 0)
    ]
    macd_categories = ['Bullish', 'Bearish']
    df_macd['MACD_Market'] = np.select(macd_conditions, macd_categories)
    df_macd = df_macd.dropna()
    return df_macd
    
    
df_macd = MACD(df_amzn)

In [22]:
df = df.merge(df_macd, on = 'Date', how = 'left')
df

,Date,IXIC Open,IXIC High,IXIC Low,IXIC Close,IXIC Adj Close,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,...,AMZN Adj Close,AMZN Volume,SMA,BB Upper Band,BB Lower Band,Bollinger_Status,MACD,MACD_Trigger,MACD_Con/Div,MACD_Market
0,2020-01-02,9039.459961,9093.429688,9010.889648,9092.190430,9092.190430,1.50,1.53,1.52,1.55,...,94.900497,80580000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-03,8976.429688,9065.759766,8976.429688,9020.769531,9020.769531,1.49,1.52,1.52,1.55,...,93.748497,75288000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,8943.500000,9072.410156,8943.500000,9071.469727,9071.469727,1.51,1.54,1.51,1.54,...,95.143997,81236000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,9076.639648,9091.929688,9042.549805,9068.580078,9068.580078,1.49,1.52,1.50,1.53,...,95.343002,80898000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,9068.030273,9168.889648,9059.379883,9129.240234,9129.240234,1.47,1.50,1.50,1.53,...,94.598503,70160000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,2023-05-22,12664.440430,12756.230470,12655.259770,12720.780270,12720.780270,5.50,5.62,5.19,5.32,...,115.010002,70741100,108.820001,118.869711,98.770291,In Range,3.578230,2.856301,0.721930,Bullish
853,2023-05-23,12652.879880,12709.740230,12554.429690,12560.250000,12560.250000,5.51,5.63,5.10,5.23,...,114.989998,67576300,109.441001,119.399100,99.482902,In Range,3.525616,2.990164,0.535452,Bullish
854,2023-05-24,12481.889650,12529.629880,12415.849610,12484.160160,12484.160160,5.62,5.74,5.06,5.18,...,116.750000,63487900,110.029501,120.264858,99.794143,In Range,3.584615,3.109054,0.475561,Bullish
855,2023-05-25,12706.440430,12736.919920,12604.889650,12698.089840,12698.089840,5.71,5.83,5.27,5.40,...,115.000000,66496700,110.288501,120.760945,99.816056,In Range,3.450388,3.177321,0.273067,Bullish
856,2023-05-26,12736.419920,13001.910160,12729.740230,12975.690430,12975.690430,5.78,5.90,5.30,5.43,...,120.110001,96779900,111.021501,122.102517,99.940485,In Range,3.713539,3.284565,0.428975,Bullish

In [23]:
df.columns

Index(['Date', 'IXIC Open', 'IXIC High', 'IXIC Low', 'IXIC Close',
       'IXIC Adj Close', '4 WEEKS BANK DISCOUNT', '4 WEEKS COUPON EQUIVALENT',
       '8 WEEKS BANK DISCOUNT', '8 WEEKS COUPON EQUIVALENT',
       '13 WEEKS BANK DISCOUNT', '13 WEEKS COUPON EQUIVALENT',
       '26 WEEKS BANK DISCOUNT', '26 WEEKS COUPON EQUIVALENT',
       '52 WEEKS BANK DISCOUNT', '52 WEEKS COUPON EQUIVALENT',
       'LT Real Average (10> Yrs)', '5 YR', '7 YR', '10 YR', '20 YR', '30 YR',
       '% employed', 'GDP', '1 Mo', '2 Mo', '3 Mo', '6 Mo', '1 Yr', '2 Yr',
       '3 Yr', '5 Yr', '7 Yr', '10 Yr', '20 Yr', '30 Yr',
       'Cushing, OK WTI Spot Price FOB (Dollars per Barrel)',
       'Europe Brent Spot Price FOB (Dollars per Barrel)', 'GOOGL Open',
       'GOOGL High', 'GOOGL Low', 'GOOGL Close', 'GOOGL Adj Close',
       'GOOGL Volume', 'AAPL Open', 'AAPL High', 'AAPL Low', 'AAPL Close',
       'AAPL Adj Close', 'AAPL Volume', 'QQQ Open', 'QQQ High', 'QQQ Low',
       'QQQ Close', 'QQQ Adj Close', 'QQQ Volume', 'DIA Open', 'DIA High',
       'DIA Low', 'DIA Close', 'DIA Adj Close', 'DIA Volume', 'ONEQ Open',
       'ONEQ High', 'ONEQ Low', 'ONEQ Close', 'ONEQ Adj Close', 'ONEQ Volume',
       'VOO Open', 'VOO High', 'VOO Low', 'VOO Close', 'VOO Adj Close',
       'VOO Volume', 'AMZN Open', 'AMZN High', 'AMZN Low', 'AMZN Close',
       'AMZN Adj Close', 'AMZN Volume', 'SMA', 'BB Upper Band',
       'BB Lower Band', 'Bollinger_Status', 'MACD', 'MACD_Trigger',
       'MACD_Con/Div', 'MACD_Market'],
      dtype='object')

In [24]:
# Sentiment analysis for Amazon stock
def Sentiment_stock(stock):
    import os
    import matplotlib.pyplot as plt
    from bs4 import BeautifulSoup
    import pandas as pd
    import nltk
    from urllib.request import urlopen, Request
    from nltk.sentiment.vader import SentimentIntensityAnalyzer
    
    news_tables = {}
    url = 'https://finviz.com/quote.ashx?t='
    full_url = url + stock
    req = Request(url = full_url, headers = {"User-Agent": "Chrome"})
    response = urlopen(req)
    html = BeautifulSoup(response, 'html.parser')
    news_table = html.find(id = 'news-table')
    news_tables[stock] = news_table
    
    amzn = news_tables[stock]
    amzn_tr = amzn.findAll('tr')
    
    for x, table_row in enumerate(amzn_tr):
        a_text = table_row.a.text
        td_text = table_row.td.text
        if x == 3:
            break
    news_list = []
    for file_name, news_table in news_tables.items():
        for i in news_table.find_all('tr'):
            text = i.get_text()
            date_scrape = i.td.text.split()
            if len(date_scrape) == 1:
                time = date_scrape[0]
            else:
                date = date_scrape[0]
                time = date_scrape[1]
            tick = file_name.split('_')[0]
            
            news_list.append([tick, date, time, text])
            
    vader = SentimentIntensityAnalyzer()
    columns = ['ticker', 'date', 'time', 'headline']
    news_df = pd.DataFrame(news_list, columns = columns)
    scores = news_df['headline'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    news_df = news_df.join(scores_df, rsuffix = '_right')
    news_df['date'] = pd.to_datetime(news_df.date).dt.date
    day_score_df = news_df.groupby(['date']).agg({'compound': 'mean'}).reset_index()
    return day_score_df
    

day_score_df = Sentiment_stock('AMZN')

In [25]:
day_score_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      7 non-null      object
 1   compound  7 non-null      float64
dtypes: float64(1), object(1)
memory usage: 240.0+ bytes

In [26]:
def RSI(stock_df, lower, upper):
    # This function will take amazon stock and return a Relative String Index data to be added to the main dataframe.
    import numpy as np
    df = stock_df[['AMZN Adj Close']]
    
    change = df['AMZN Adj Close'].diff()
    low = lower
    high = upper
    up = change.copy()
    down = change.copy()
    up[up<0] = 0
    down[down>0] = 0
    
    avg_up = up.rolling(14).mean()
    avg_dwn = down.rolling(14).mean().abs()
    
    rsi = 100 * avg_up / (avg_up + avg_dwn)
    df_s = [df, rsi]
    df = pd.concat(df_s, axis = 1)
    df.reset_index()
    df.columns= ['AMZN Adj Close', 'RSI']
    rsi_conditions = [
        (df['RSI'] > high),
        (df['RSI']<= high) & (df['RSI'] >= low),
        (df['RSI'] < low)
    ]
    rsi_categories = ['Bullish', 'Normal', 'Bearish']
    df['RSI_Status'] = np.select(rsi_conditions, rsi_categories)
    df = df.dropna()
    df = df.drop(['AMZN Adj Close'], axis = 1)
    final = [df, low, high]
    
    return final
df_RSI = RSI(df_amzn, 30,70)

In [27]:
df = df.merge(df_RSI[0], on = 'Date', how = 'left')

In [ ]:
def bollinger_graphs(bollinger_data):
    #To plot bollinger plots using bollinger data

In [ ]:
def MACD_graphs(df_macd):
    #To plot bollinger plots using bollinger data

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 0 to 856
Data columns (total 90 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 857 non-null    datetime64[ns]
 1   IXIC Open                                            857 non-null    float64
 2   IXIC High                                            857 non-null    float64
 3   IXIC Low                                             857 non-null    float64
 4   IXIC Close                                           857 non-null    float64
 5   IXIC Adj Close                                       857 non-null    float64
 6   4 WEEKS BANK DISCOUNT                                851 non-null    float64
 7   4 WEEKS COUPON EQUIVALENT                            851 non-null    float64
 8   8 WEEKS BANK DISCOUNT                                851 non-null    float64
 9   8 WEEKS COUPON EQUIVALENT                            851 non-null    float64
 10  13 WEEKS BANK DISCOUNT                               851 non-null    float64
 11  13 WEEKS COUPON EQUIVALENT                           851 non-null    float64
 12  26 WEEKS BANK DISCOUNT                               652 non-null    float64
 13  26 WEEKS COUPON EQUIVALENT                           652 non-null    float64
 14  52 WEEKS BANK DISCOUNT                               851 non-null    float64
 15  52 WEEKS COUPON EQUIVALENT                           851 non-null    float64
 16  LT Real Average (10> Yrs)                            851 non-null    float64
 17  5 YR                                                 851 non-null    float64
 18  7 YR                                                 851 non-null    float64
 19  10 YR                                                851 non-null    float64
 20  20 YR                                                851 non-null    float64
 21  30 YR                                                851 non-null    float64
 22  % employed                                           27 non-null     float64
 23  GDP                                                  8 non-null      float64
 24  1 Mo                                                 851 non-null    float64
 25  2 Mo                                                 851 non-null    float64
 26  3 Mo                                                 851 non-null    float64
 27  6 Mo                                                 851 non-null    float64
 28  1 Yr                                                 851 non-null    float64
 29  2 Yr                                                 851 non-null    float64
 30  3 Yr                                                 851 non-null    float64
 31  5 Yr                                                 851 non-null    float64
 32  7 Yr                                                 851 non-null    float64
 33  10 Yr                                                851 non-null    float64
 34  20 Yr                                                851 non-null    float64
 35  30 Yr                                                851 non-null    float64
 36  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)  855 non-null    float64
 37  Europe Brent Spot Price FOB (Dollars per Barrel)     840 non-null    float64
 38  GOOGL Open                                           857 non-null    float64
 39  GOOGL High                                           857 non-null    float64
 40  GOOGL Low                                            857 non-null    float64
 41  GOOGL Close                                          857 non-null    float64
 42  GOOGL Adj Close                                      857 non-null    float64
 43  GOOGL Volume                                         857 non-null    int64
 44  AAPL Open                                            857 non-null    float64
 45  AAPL High                                            857 non-null    float64
 46  AAPL Low                                             857 non-null    float64
 47  AAPL Close                                           857 non-null    float64
 48  AAPL Adj Close                                       857 non-null    float64
 49  AAPL Volume                                          857 non-null    int64
 50  QQQ Open                                             857 non-null    float64
 51  QQQ High                                             857 non-null    float64
 52  QQQ Low                                              857 non-null    float64
 53  QQQ Close                                            857 non-null    float64
 54  QQQ Adj Close                                        857 non-null    float64
 55  QQQ Volume                                           857 non-null    int64
 56  DIA Open                                             857 non-null    float64
 57  DIA High                                             857 non-null    float64
 58  DIA Low                                              857 non-null    float64
 59  DIA Close                                            857 non-null    float64
 60  DIA Adj Close                                        857 non-null    float64
 61  DIA Volume                                           857 non-null    int64
 62  ONEQ Open                                            857 non-null    float64
 63  ONEQ High                                            857 non-null    float64
 64  ONEQ Low                                             857 non-null    float64
 65  ONEQ Close                                           857 non-null    float64
 66  ONEQ Adj Close                                       857 non-null    float64
 67  ONEQ Volume                                          857 non-null    int64
 68  VOO Open                                             857 non-null    float64
 69  VOO High                                             857 non-null    float64
 70  VOO Low                                              857 non-null    float64
 71  VOO Close                                            857 non-null    float64
 72  VOO Adj Close                                        857 non-null    float64
 73  VOO Volume                                           857 non-null    int64
 74  AMZN Open                                            857 non-null    float64
 75  AMZN High                                            857 non-null    float64
 76  AMZN Low                                             857 non-null    float64
 77  AMZN Close                                           857 non-null    float64
 78  AMZN Adj Close                                       857 non-null    float64
 79  AMZN Volume                                          857 non-null    int64
 80  SMA                                                  838 non-null    float64
 81  BB Upper Band                                        838 non-null    float64
 82  BB Lower Band                                        838 non-null    float64
 83  Bollinger_Status                                     838 non-null    object
 84  MACD                                                 824 non-null    float64
 85  MACD_Trigger                                         824 non-null    float64
 86  MACD_Con/Div                                         824 non-null    float64
 87  MACD_Market                                          824 non-null    object
 88  RSI                                                  843 non-null    float64
 89  RSI_Status                                           843 non-null    object
dtypes: datetime64[ns](1), float64(79), int64(7), object(3)
memory usage: 609.3+ KB

In [30]:
# Some of the analytics columns used the first 20 rows to collect a moving average so the first 20 rows have a lot of NaN, 
# I will remove them.

df1 = df[df['MACD'].notna()]

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824 entries, 33 to 856
Data columns (total 90 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 824 non-null    datetime64[ns]
 1   IXIC Open                                            824 non-null    float64
 2   IXIC High                                            824 non-null    float64
 3   IXIC Low                                             824 non-null    float64
 4   IXIC Close                                           824 non-null    float64
 5   IXIC Adj Close                                       824 non-null    float64
 6   4 WEEKS BANK DISCOUNT                                818 non-null    float64
 7   4 WEEKS COUPON EQUIVALENT                            818 non-null    float64
 8   8 WEEKS BANK DISCOUNT                                818 non-null    float64
 9   8 WEEKS COUPON EQUIVALENT                            818 non-null    float64
 10  13 WEEKS BANK DISCOUNT                               818 non-null    float64
 11  13 WEEKS COUPON EQUIVALENT                           818 non-null    float64
 12  26 WEEKS BANK DISCOUNT                               619 non-null    float64
 13  26 WEEKS COUPON EQUIVALENT                           619 non-null    float64
 14  52 WEEKS BANK DISCOUNT                               818 non-null    float64
 15  52 WEEKS COUPON EQUIVALENT                           818 non-null    float64
 16  LT Real Average (10> Yrs)                            818 non-null    float64
 17  5 YR                                                 818 non-null    float64
 18  7 YR                                                 818 non-null    float64
 19  10 YR                                                818 non-null    float64
 20  20 YR                                                818 non-null    float64
 21  30 YR                                                818 non-null    float64
 22  % employed                                           27 non-null     float64
 23  GDP                                                  8 non-null      float64
 24  1 Mo                                                 818 non-null    float64
 25  2 Mo                                                 818 non-null    float64
 26  3 Mo                                                 818 non-null    float64
 27  6 Mo                                                 818 non-null    float64
 28  1 Yr                                                 818 non-null    float64
 29  2 Yr                                                 818 non-null    float64
 30  3 Yr                                                 818 non-null    float64
 31  5 Yr                                                 818 non-null    float64
 32  7 Yr                                                 818 non-null    float64
 33  10 Yr                                                818 non-null    float64
 34  20 Yr                                                818 non-null    float64
 35  30 Yr                                                818 non-null    float64
 36  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)  822 non-null    float64
 37  Europe Brent Spot Price FOB (Dollars per Barrel)     807 non-null    float64
 38  GOOGL Open                                           824 non-null    float64
 39  GOOGL High                                           824 non-null    float64
 40  GOOGL Low                                            824 non-null    float64
 41  GOOGL Close                                          824 non-null    float64
 42  GOOGL Adj Close                                      824 non-null    float64
 43  GOOGL Volume                                         824 non-null    int64
 44  AAPL Open                                            824 non-null    float64
 45  AAPL High                                            824 non-null    float64
 46  AAPL Low                                             824 non-null    float64
 47  AAPL Close                                           824 non-null    float64
 48  AAPL Adj Close                                       824 non-null    float64
 49  AAPL Volume                                          824 non-null    int64
 50  QQQ Open                                             824 non-null    float64
 51  QQQ High                                             824 non-null    float64
 52  QQQ Low                                              824 non-null    float64
 53  QQQ Close                                            824 non-null    float64
 54  QQQ Adj Close                                        824 non-null    float64
 55  QQQ Volume                                           824 non-null    int64
 56  DIA Open                                             824 non-null    float64
 57  DIA High                                             824 non-null    float64
 58  DIA Low                                              824 non-null    float64
 59  DIA Close                                            824 non-null    float64
 60  DIA Adj Close                                        824 non-null    float64
 61  DIA Volume                                           824 non-null    int64
 62  ONEQ Open                                            824 non-null    float64
 63  ONEQ High                                            824 non-null    float64
 64  ONEQ Low                                             824 non-null    float64
 65  ONEQ Close                                           824 non-null    float64
 66  ONEQ Adj Close                                       824 non-null    float64
 67  ONEQ Volume                                          824 non-null    int64
 68  VOO Open                                             824 non-null    float64
 69  VOO High                                             824 non-null    float64
 70  VOO Low                                              824 non-null    float64
 71  VOO Close                                            824 non-null    float64
 72  VOO Adj Close                                        824 non-null    float64
 73  VOO Volume                                           824 non-null    int64
 74  AMZN Open                                            824 non-null    float64
 75  AMZN High                                            824 non-null    float64
 76  AMZN Low                                             824 non-null    float64
 77  AMZN Close                                           824 non-null    float64
 78  AMZN Adj Close                                       824 non-null    float64
 79  AMZN Volume                                          824 non-null    int64
 80  SMA                                                  824 non-null    float64
 81  BB Upper Band                                        824 non-null    float64
 82  BB Lower Band                                        824 non-null    float64
 83  Bollinger_Status                                     824 non-null    object
 84  MACD                                                 824 non-null    float64
 85  MACD_Trigger                                         824 non-null    float64
 86  MACD_Con/Div                                         824 non-null    float64
 87  MACD_Market                                          824 non-null    object
 88  RSI                                                  824 non-null    float64
 89  RSI_Status                                           824 non-null    object
dtypes: datetime64[ns](1), float64(79), int64(7), object(3)
memory usage: 585.8+ KB

In [32]:
df1 = df1.fillna(method = 'ffill')

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824 entries, 33 to 856
Data columns (total 90 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 824 non-null    datetime64[ns]
 1   IXIC Open                                            824 non-null    float64
 2   IXIC High                                            824 non-null    float64
 3   IXIC Low                                             824 non-null    float64
 4   IXIC Close                                           824 non-null    float64
 5   IXIC Adj Close                                       824 non-null    float64
 6   4 WEEKS BANK DISCOUNT                                824 non-null    float64
 7   4 WEEKS COUPON EQUIVALENT                            824 non-null    float64
 8   8 WEEKS BANK DISCOUNT                                824 non-null    float64
 9   8 WEEKS COUPON EQUIVALENT                            824 non-null    float64
 10  13 WEEKS BANK DISCOUNT                               824 non-null    float64
 11  13 WEEKS COUPON EQUIVALENT                           824 non-null    float64
 12  26 WEEKS BANK DISCOUNT                               824 non-null    float64
 13  26 WEEKS COUPON EQUIVALENT                           824 non-null    float64
 14  52 WEEKS BANK DISCOUNT                               824 non-null    float64
 15  52 WEEKS COUPON EQUIVALENT                           824 non-null    float64
 16  LT Real Average (10> Yrs)                            824 non-null    float64
 17  5 YR                                                 824 non-null    float64
 18  7 YR                                                 824 non-null    float64
 19  10 YR                                                824 non-null    float64
 20  20 YR                                                824 non-null    float64
 21  30 YR                                                824 non-null    float64
 22  % employed                                           795 non-null    float64
 23  GDP                                                  795 non-null    float64
 24  1 Mo                                                 824 non-null    float64
 25  2 Mo                                                 824 non-null    float64
 26  3 Mo                                                 824 non-null    float64
 27  6 Mo                                                 824 non-null    float64
 28  1 Yr                                                 824 non-null    float64
 29  2 Yr                                                 824 non-null    float64
 30  3 Yr                                                 824 non-null    float64
 31  5 Yr                                                 824 non-null    float64
 32  7 Yr                                                 824 non-null    float64
 33  10 Yr                                                824 non-null    float64
 34  20 Yr                                                824 non-null    float64
 35  30 Yr                                                824 non-null    float64
 36  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)  824 non-null    float64
 37  Europe Brent Spot Price FOB (Dollars per Barrel)     824 non-null    float64
 38  GOOGL Open                                           824 non-null    float64
 39  GOOGL High                                           824 non-null    float64
 40  GOOGL Low                                            824 non-null    float64
 41  GOOGL Close                                          824 non-null    float64
 42  GOOGL Adj Close                                      824 non-null    float64
 43  GOOGL Volume                                         824 non-null    int64
 44  AAPL Open                                            824 non-null    float64
 45  AAPL High                                            824 non-null    float64
 46  AAPL Low                                             824 non-null    float64
 47  AAPL Close                                           824 non-null    float64
 48  AAPL Adj Close                                       824 non-null    float64
 49  AAPL Volume                                          824 non-null    int64
 50  QQQ Open                                             824 non-null    float64
 51  QQQ High                                             824 non-null    float64
 52  QQQ Low                                              824 non-null    float64
 53  QQQ Close                                            824 non-null    float64
 54  QQQ Adj Close                                        824 non-null    float64
 55  QQQ Volume                                           824 non-null    int64
 56  DIA Open                                             824 non-null    float64
 57  DIA High                                             824 non-null    float64
 58  DIA Low                                              824 non-null    float64
 59  DIA Close                                            824 non-null    float64
 60  DIA Adj Close                                        824 non-null    float64
 61  DIA Volume                                           824 non-null    int64
 62  ONEQ Open                                            824 non-null    float64
 63  ONEQ High                                            824 non-null    float64
 64  ONEQ Low                                             824 non-null    float64
 65  ONEQ Close                                           824 non-null    float64
 66  ONEQ Adj Close                                       824 non-null    float64
 67  ONEQ Volume                                          824 non-null    int64
 68  VOO Open                                             824 non-null    float64
 69  VOO High                                             824 non-null    float64
 70  VOO Low                                              824 non-null    float64
 71  VOO Close                                            824 non-null    float64
 72  VOO Adj Close                                        824 non-null    float64
 73  VOO Volume                                           824 non-null    int64
 74  AMZN Open                                            824 non-null    float64
 75  AMZN High                                            824 non-null    float64
 76  AMZN Low                                             824 non-null    float64
 77  AMZN Close                                           824 non-null    float64
 78  AMZN Adj Close                                       824 non-null    float64
 79  AMZN Volume                                          824 non-null    int64
 80  SMA                                                  824 non-null    float64
 81  BB Upper Band                                        824 non-null    float64
 82  BB Lower Band                                        824 non-null    float64
 83  Bollinger_Status                                     824 non-null    object
 84  MACD                                                 824 non-null    float64
 85  MACD_Trigger                                         824 non-null    float64
 86  MACD_Con/Div                                         824 non-null    float64
 87  MACD_Market                                          824 non-null    object
 88  RSI                                                  824 non-null    float64
 89  RSI_Status                                           824 non-null    object
dtypes: datetime64[ns](1), float64(79), int64(7), object(3)
memory usage: 585.8+ KB

In [37]:
df1.GDP.unique()

array([      nan, 19636.731, 21362.428, 21704.706, 23046.934, 23550.42 ,
       24349.121, 25248.476, 25723.941])

In [38]:
df = df1[df1['GDP'].notna()]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795 entries, 62 to 856
Data columns (total 90 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 795 non-null    datetime64[ns]
 1   IXIC Open                                            795 non-null    float64
 2   IXIC High                                            795 non-null    float64
 3   IXIC Low                                             795 non-null    float64
 4   IXIC Close                                           795 non-null    float64
 5   IXIC Adj Close                                       795 non-null    float64
 6   4 WEEKS BANK DISCOUNT                                795 non-null    float64
 7   4 WEEKS COUPON EQUIVALENT                            795 non-null    float64
 8   8 WEEKS BANK DISCOUNT                                795 non-null    float64
 9   8 WEEKS COUPON EQUIVALENT                            795 non-null    float64
 10  13 WEEKS BANK DISCOUNT                               795 non-null    float64
 11  13 WEEKS COUPON EQUIVALENT                           795 non-null    float64
 12  26 WEEKS BANK DISCOUNT                               795 non-null    float64
 13  26 WEEKS COUPON EQUIVALENT                           795 non-null    float64
 14  52 WEEKS BANK DISCOUNT                               795 non-null    float64
 15  52 WEEKS COUPON EQUIVALENT                           795 non-null    float64
 16  LT Real Average (10> Yrs)                            795 non-null    float64
 17  5 YR                                                 795 non-null    float64
 18  7 YR                                                 795 non-null    float64
 19  10 YR                                                795 non-null    float64
 20  20 YR                                                795 non-null    float64
 21  30 YR                                                795 non-null    float64
 22  % employed                                           795 non-null    float64
 23  GDP                                                  795 non-null    float64
 24  1 Mo                                                 795 non-null    float64
 25  2 Mo                                                 795 non-null    float64
 26  3 Mo                                                 795 non-null    float64
 27  6 Mo                                                 795 non-null    float64
 28  1 Yr                                                 795 non-null    float64
 29  2 Yr                                                 795 non-null    float64
 30  3 Yr                                                 795 non-null    float64
 31  5 Yr                                                 795 non-null    float64
 32  7 Yr                                                 795 non-null    float64
 33  10 Yr                                                795 non-null    float64
 34  20 Yr                                                795 non-null    float64
 35  30 Yr                                                795 non-null    float64
 36  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)  795 non-null    float64
 37  Europe Brent Spot Price FOB (Dollars per Barrel)     795 non-null    float64
 38  GOOGL Open                                           795 non-null    float64
 39  GOOGL High                                           795 non-null    float64
 40  GOOGL Low                                            795 non-null    float64
 41  GOOGL Close                                          795 non-null    float64
 42  GOOGL Adj Close                                      795 non-null    float64
 43  GOOGL Volume                                         795 non-null    int64
 44  AAPL Open                                            795 non-null    float64
 45  AAPL High                                            795 non-null    float64
 46  AAPL Low                                             795 non-null    float64
 47  AAPL Close                                           795 non-null    float64
 48  AAPL Adj Close                                       795 non-null    float64
 49  AAPL Volume                                          795 non-null    int64
 50  QQQ Open                                             795 non-null    float64
 51  QQQ High                                             795 non-null    float64
 52  QQQ Low                                              795 non-null    float64
 53  QQQ Close                                            795 non-null    float64
 54  QQQ Adj Close                                        795 non-null    float64
 55  QQQ Volume                                           795 non-null    int64
 56  DIA Open                                             795 non-null    float64
 57  DIA High                                             795 non-null    float64
 58  DIA Low                                              795 non-null    float64
 59  DIA Close                                            795 non-null    float64
 60  DIA Adj Close                                        795 non-null    float64
 61  DIA Volume                                           795 non-null    int64
 62  ONEQ Open                                            795 non-null    float64
 63  ONEQ High                                            795 non-null    float64
 64  ONEQ Low                                             795 non-null    float64
 65  ONEQ Close                                           795 non-null    float64
 66  ONEQ Adj Close                                       795 non-null    float64
 67  ONEQ Volume                                          795 non-null    int64
 68  VOO Open                                             795 non-null    float64
 69  VOO High                                             795 non-null    float64
 70  VOO Low                                              795 non-null    float64
 71  VOO Close                                            795 non-null    float64
 72  VOO Adj Close                                        795 non-null    float64
 73  VOO Volume                                           795 non-null    int64
 74  AMZN Open                                            795 non-null    float64
 75  AMZN High                                            795 non-null    float64
 76  AMZN Low                                             795 non-null    float64
 77  AMZN Close                                           795 non-null    float64
 78  AMZN Adj Close                                       795 non-null    float64
 79  AMZN Volume                                          795 non-null    int64
 80  SMA                                                  795 non-null    float64
 81  BB Upper Band                                        795 non-null    float64
 82  BB Lower Band                                        795 non-null    float64
 83  Bollinger_Status                                     795 non-null    object
 84  MACD                                                 795 non-null    float64
 85  MACD_Trigger                                         795 non-null    float64
 86  MACD_Con/Div                                         795 non-null    float64
 87  MACD_Market                                          795 non-null    object
 88  RSI                                                  795 non-null    float64
 89  RSI_Status                                           795 non-null    object
dtypes: datetime64[ns](1), float64(79), int64(7), object(3)
memory usage: 565.2+ KB

In [40]:
df = df.reset_index()

In [41]:
df.head()

,index,Date,IXIC Open,IXIC High,IXIC Low,IXIC Close,IXIC Adj Close,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,...,SMA,BB Upper Band,BB Lower Band,Bollinger_Status,MACD,MACD_Trigger,MACD_Con/Div,MACD_Market,RSI,RSI_Status
0,62,2020-04-01,7459.500000,7566.370117,7301.979980,7360.580078,7360.580078,0.03,0.03,0.06,...,93.149400,101.265505,85.033295,In Range,-0.066299,-0.857664,0.791365,Bullish,64.017858,Normal
1,63,2020-04-02,7317.450195,7501.700195,7307.950195,7487.310059,7487.310059,0.09,0.09,0.10,...,93.136399,101.232729,85.040070,In Range,-0.005885,-0.687308,0.681423,Bullish,59.204132,Normal
2,64,2020-04-03,7477.270020,7518.720215,7288.109863,7373.080078,7373.080078,0.09,0.09,0.11,...,93.150150,101.261116,85.039183,In Range,-0.007305,-0.551307,0.544002,Bullish,66.897730,Normal
3,65,2020-04-06,7660.169922,7938.330078,7617.790039,7913.240234,7913.240234,0.09,0.09,0.13,...,93.642599,102.142677,85.142522,In Range,0.354628,-0.370120,0.724748,Bullish,65.409041,Normal
4,66,2020-04-07,8129.990234,8146.430176,7881.220215,7887.259766,7887.259766,0.09,0.09,0.13,...,93.942049,102.987298,84.896801,In Range,0.690033,-0.158089,0.848123,Bullish,64.945026,Normal

In [43]:
df.to_csv('capstone3_data_clean.csv')